<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Learn Hack Tutoring </title>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/styleBoot.css" rel="stylesheet">
  
    <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->
  <link href="../static/css/full-width-pics.css" rel="stylesheet"> 
    



  </head>
  
  <body style="background-color: #ddd; font-family: PT Sans;">
  
    <header id="header">
      <div class="container">
  
        <nav id="nav-menu-container" style="text-decoration: none;">
          <ul class="nav-menu">
            <li><a href="{{ url_for('homeHype') }}"><b>LearnHack</b></a></li>
            <li><a href="{{ url_for('hackers') }}"><b>Find a Hacker</b></a></li>
            <li><a href="{{ url_for('becomeAHacker') }}"><b>Become a Hacker</b></a></li>
            <li><a href="{{ url_for('questions') }}"><b>Questions</b></a></li>
            <li><a href="{{ url_for('contact') }}"><b>Contact Us</b></a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}


      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">LearnHack &copy; 2019</p>

          <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="#" class="mx-2">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
        <!-- /.container -->
      </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/mainBoot.js"></script>

</body>

</html>
