<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Learn Hack</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/styleBoot.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">


      <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="{{ url_for('homeHype') }}"><b>LearnHack</b></a></li>
            <li><a href="{{ url_for('hackers') }}"><b>Book a Teacher</b></a></li>
            <li><a href="{{ url_for('becomeAHacker') }}"><b>Careers</b></a></li>
            <li><a href="{{ url_for('questions') }}"><b>FAQs</b></a></li>
            <li><a href="{{ url_for('contact') }}"><b>Contact Us</b></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container"> 

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- Do something with the message -->
              <p id="getFlash" style="color:white"> The email was recieved! We will get back to you asap.</p>

                {% endfor %}
            {% endif %}
        {% endwith %}
      <h1>Welcome to Learn Hack</h1>
      <h2>The Home of Coding</h2>
      <a href="{{ url_for('contact') }}" class="btn-get-started">Book a Teacher</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

        <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">What We Offer</h3>
          <p class="section-description"></p>
        </div>
        <div class="row counters">

  				<div class="col-lg-4 col-6 text-center">
            <p><b>Learn To Code</b></p>
  				</div>

          <div class="col-lg-4 col-6 text-center">
            <p><b>In Your Own Home</b></p>
  				</div>

          <div class="col-lg-4 col-12 text-center">
            <p><b>In Your Own Time</b></p>
  				</div>
  			</div>

      </div>
    </section>
    
    <!-- #facts -->


    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Facts</h3>
          <p class="section-description">Take a look below to see how far we’ve come</p>
        </div>
        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">31</span>
            <p>Students</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Teachers</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">47</span>
            <p>Hours</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

      </div>
    </section>
    
    <!-- #facts -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Ready To Book?</h3>
            <p class="cta-text"> Coding is the future. Get ahead of the game and start to code now! Click to get to know our Teachers.             </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{ url_for('hackers') }}">Teachers</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->


        <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-1">
            <h2 class="title">Our Story</h2>
            <p>
              Learn Hack was created by two brothers, Harrison and Charlie Boyns. The young (ish) men in the photo!
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Brothers</a></h4>
              <p class="description">Learn Hack was created by two brothers, Harrison and Charlie Boyns. The young (ish) men in the photo on the right! Harrison Boyns holds a 1st class degree in Neuroscience and a Masters in Computer Science. In contrast, his brother Charlie studied Law.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Motivation</a></h4>
              <p class="description">After finishing University, Harrison went on to work for an International bank, whilst Charlie chose an International consulting firm. During this time, both brother’s recognised the increasing professional demand for coders.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Practice</a></h4>
              <p class="description">Fuelled by this knowledge, the pair set about on a mission - a mission to equip the world with the skills of the future!</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-2 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->


  </main>

  <!--==========================
    Footer
  ============================-->
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">LearnHack &copy; 2020</p>
          
          <div class="social d-flex justify-content-center">
            <a href="https://www.instagram.com/learnhack_tutoring/?hl=en" class="mx-2">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
        <!-- /.container -->
      </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script>
      setTimeout(function() {
        $('#getFlash').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
  </script>
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/mainBoot.js"></script>

</body>
</html>
